<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container card-sh" style="margin-top: 100px; margin-bottom: 45px">
			<div class="col-md-12 mt-2 p-5">
				<div class="row">
					<div class="col-md-6 mt-4">
						<img alt="" src="/img/product-images/asus_monitor.png"
							width="450px" height="320px">
					</div>

					<div class="col-md-6">
						<p class="fs-3">Monitor</p>
						<p>
							<span class="fw-bold">Description: </span><br>Asus Monitor,
							256gb SSD
						</p>
						<p>
							<span class="fw-bold"> Product Details: </span><br>Status: <span
								class="badge bg-success">Available</span> <span
								class="badge bg-warning">Out of Stock</span><br> Category:
							Laptop <br> Policy : 7 Days Replacement & Return Return
							Return Return
						
							Return
						
						</p>
						<p class="fs-5 fw-bold">
							Price: &nbsp; <i class="fas fa-rupee-sign"></i>
							70000 <span
								class="fs-6 text-decoration-line-through text-secondary">
								100000</span> <span class="fs-6 text-success">35% off</span>
						</p>

						<div class="row">
							<div class="col-md-4 text-success text-center p-2">
								<i class="fas fa-money-bill-wave fa-2x"></i>
								<p>Cash on Delivery</p>
							</div>
							<div class="col-md-4 text-danger text-center p-2">
								<i class="fas fa-undo-alt fa-2x"></i>
								<p>Return Available</p>
							</div>
							<div class="col-md-4 text-primary text-center p-2">
								<i class="fas fa-truck-moving fa-2x"></i>
								<p>Free Shipping</p>
							</div>

							<a href="login.jsp" class="btn btn-danger col-md-12">Add to
								Card</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>